.wrapper-value {
  background-color: #cdf5fd;
  border: 1px solid #00a9ff;
  padding: 15px;
  margin-top: 5px;
  width: fit-content;
  border-radius: 5px;
}

.wrapper-item__order {
  font-size: 16px;
}

.total-price__order {
  font-size: 20px;
  font-weight: 600;
  color: #c70039;
}
