.btn-search {
  display: flex;
}

.btn-search__input {
  background-color: #fff;
  border-radius: 0;
  outline: none;
  /* border: none; */
}

.btn-search__button {
  border-radius: 0 !important;
  outline: none;
  border: none;
  background-color: #495057;
  color: white;
}
